.place-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.order-box {
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
}

.logo {
    width: 70%;
    height: auto;
    margin-top: 2rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.your-order {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    padding: 0 0.5rem;
}


.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 1rem;
}

.price {
    color: var(--green);
}

.order-name {
    width: 60%;
}

.order-total {
    padding: 2rem 0.5rem;
}

.order-price {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.5rem;
}

.payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
}

.payment-method {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem;
}

.icon-name {
    display: flex;
    align-items: center;
}

.payment-method p {
    margin: 0 1rem;
}

.payment-icon {
    width: 15%;
    padding: 0 0.5rem;
}

.payment-icon img {
    width: 100%;
    height: 100%;
}

.payment button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 950px) {
    .order-box {
        width: 60%;
        padding: 1rem 2rem;
    }

    .logo {
        width: 80%;
    }

    .payment {
        padding: 0;
    }

    .payment-icon {
        width: 20%;
    }
}

@media (max-width: 500px) {
    .order-box {
        width: 100%;
        padding: 1rem 1rem;
    }

    .logo {
        width: 90%;
    }

    .your-order h2 {
        font-size: 1.3rem;
    }

    .payment-methods h2 {
        font-size: 1.2rem;
    }

    .payment-method {
        width: 100%;
    }

    .payment-methods input {
        width: 2rem;
        height: 2rem;
    }

    .payment-icon {
        width: 30%;
    }

    .payment-icon img {
        width: 100%;
    }

    .payment button {
        padding: 0.5rem 2rem;
    }
}